.wrapper {
    position: relative;
    width: 800px;
    max-width: 80%;
    height: 400px;
    left:50px;
    /* background-color: aqua; */
}

.shape {
    background-color: red;
    position: absolute;
    border-radius: 50%;
}

.wrapper img {
    width: auto;
    display: block;
    /* max-width: 100%; */
    height: 100%;
    margin: 0 auto;
}